/* mobanwang.com */

body{font-size:100%;background-color: #F8E6E6;}
h1{font-size:1rem; line-height:3rem; color:#C51D1D; margin-bottom:0;}
a{color:#C51D1D;text-decoration:none; cursor:pointer;}
a:hover{color:#C51D1D; font-weight:700;}

.a-underline a{text-decoration:underline;}
.mb-f09{font-size:0.9rem;}
.mb-p-0{padding:0;}
.mb-lh-2r{line-height:2rem;}
.mb-lh-1d5r{line-height:1.5rem;}
.mb-color-666{color:#666;}
.mb-color{color:#C51D1D;}
.mb-color-fff{color:#fff;}
.mb-bg-w{background-color:#fff;}
.mb-h1{font-size:2rem; text-align:center;}
.mb-h2{background-color:#f5d1d1;color:#C51D1D; padding-left:20px;border-radius:10px 10px 0 0;border-radius:10px 10px 0 0;}
.mb-h2 h1,.mb-h2 h2{font-size:1.5rem; font-weight:700; line-height:4rem; margin-bottom:0; display:inline;}
.mb-h2 span{font-size:0.9rem; font-weight:700; line-height:4rem; margin-bottom:0; display:inline;}
.mb-h3{font-size:1.2rem; font-weight:700;}
.mb-m-20{margin:20px;}
.mb-mt-5{margin-top:5px;}
.mb-mt-10{margin-top:10px;}
.mb-mt-15{margin-top:15px;}
.mb-mt-20{margin-top:20px;}
.mb-mt-60{margin-top:60px;}
.mb-mb-10{margin-bottom:10px;}
.mb-mb-20{margin-bottom:20px;}
.mb-mtb-10{margin-top:10px; margin-bottom:10px;}
.mb-mtb-5{margin-top:5px; margin-bottom:5px;}
.mb-mtb-20{margin-top:20px; margin-bottom:20px;}
.mb-mlr-50{margin-right:50px;margin-left:50px;}
.mb-ml-20{margin-left:20px;}
.mb-plr-0{padding-right:0;padding-left:0;}
.mb-pb-50{padding-bottom:50px;}
.mb-p-10{padding:10px;}
.mb-p-20{padding:20px;}
.mb-p-40{padding:40px;}
.mb-pt-20{padding-top:20px;}
.mb-pt-30{padding-top:30px;}
.mb-ptb-5{padding-top:5px;padding-bottom:5px;}
.mb-ptb-10{padding-top:10px;padding-bottom:10px;}
.mb-ptb-20{padding-top:20px;padding-bottom:20px;}
.mb-plr-30{padding-right:30px;padding-left:30px;}

.mb-text-c{text-align:center;}
.mb-h-30{height:30px;line-height:30px;}
.mb-h-50{height:50px; line-height:50px;}
.mb-h-80{height:80px;}
.mb-h-100{height:100px;}
.mb-h-150{height:150px;}
.mb-b-line{border-bottom:1px solid #F0D6D6;}
.mb-over-hid{overflow:hidden;}
.mb-overflow{display:block;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}

.mb-btn-search{background-color:#ebb8b8; color:#C51D1D; border:0;}
.mb-btn{letter-spacing:5px; background-color:#df8888; color:#fff; border:0; padding:12px 45px 14px; font-size:30px; margin:10px 0;}
.mb-btn span{position:absolute;font-size:14px; letter-spacing:0;}
.mb-btn-s{letter-spacing:10px; background-color:#df8888; color:#fff; border:0; padding:10px 60px 8px; font-size:30px;}
.mb-btn-s p{font-size:16px; margin-bottom:0;}

.mb-c{color:#C51D1D;}
.mb-br-10{border-radius:10px;overflow:hidden;}
.mb-br-top{border-radius:10px 10px 0 0;}
.mb-br-btm{border-radius:0 0 10px 10px;}

.mb-btn-more{border:1px solid #df8888; border-radius:30px;color:#C51D1D;}
.mb-btn-more:hover{background-color:#df8888;color:#fff;}
.mb-bgc-1{background-color:#f5d1d1;}
.mb-bgc-2{background-color:#F8E6E6;}
.mb-bgc-3{background-color:#ebb8b8;}
.mb-bgc-4{background-color:#df8888;}
.mb-bgc-fff{background-color:#fff;}
.mb-bgc-title{background-color:#f5d1d1;}
.mb-border{border:1px solid #ebb8b8;}
.mb-navCategory{background-color:#fff;}

.mb-index-search{max-width:700px; margin:50px auto 30px auto;}
.mb-index-search h1{font-size:2rem;font-weight:700;margin:30px 0 20px 0;}
.mb-searchTop{height:106px;background:#df8888;color:#fff;}
.mb-intro{padding:20px 30px;background-color:#f8e6e6;color:#C51D1D; font-size:16px;line-height:2.5rem;border:1px solid #f0d6d6;border-radius:20px;}
.mb-intro a{text-decoration:underline;}

.nav-link:hover{color:#C51D1D;font-weight:700;}

.mb-icon-cont{background-color:#F8E6E6; border:1px solid #F0D6D6; padding:20px;}
.mb-fonts-img01{background-color:#F8E6E6; border:1px solid #F0D6D6; padding:20px 0;}
.mb-fonts-img02{background-color:#fff; margin:0 auto; border:1px solid #F0D6D6; width:95%}
.mb-container{background-color:#fff;border-radius:10px; margin-bottom:10px;}
.mb-container-list{background-color:#FFF;padding-top:5px; padding-bottom:10px;border-radius:0 0 10px 10px;}
.mb-img{position:relative;}
.mb-img img{border:5px solid #f0d6d6; padding:5px; cursor:pointer;border-radius:10px;}
.mb-img span{position:absolute;right:20%;background-color:#f0d6d6;color:#C51D1D;font-size:1rem;border-radius:0 0 10px 10px;padding:0 0.8rem;z-index:888;font-weight:700; line-height:1.8rem;}
.mb-mblist{position:relative;padding:0 0.4rem;}
.mb-mblist a{display:inline-block;margin-top:10px; margin-bottom:10px;color:#C51D1D;font-weight:700; text-decoration:none; transition:.3s ease-in-out; -webkit-box-shadow: 0px 40px 30px -40px #969696; -moz-box-shadow: 0px 40px 30px -40px #969696; -o-box-shadow: 0px 40px 30px -40px #969696;box-shadow: 0 40px 30px -40px #969696;border-radius: 10px; overflow:hidden;}
.mb-mblist p{margin-bottom:0;}
.mb-mblist a:hover p{background-color:#EFB7B7;}
.mb-mblist a:hover{text-decoration:none;}
.mb-mblist img {box-sizing:border-box;transition: 0.3s;position:relative;z-index:1;filter:brightness(90%);}
.mb-mblist a:hover img {box-sizing:border-box; transform: scale(1.1); filter:brightness(35%);}
.mb-mblist a.freefonts {position: absolute;display: inline-block;bottom: 26px;right: 20px;margin: 0;padding:3px;z-index:888;border-radius: 8px;background-color: #C51D1D;color: #F8E6E6;font-size:0.6rem;font-family: '宋体';}

.mb-mblist .listBtnO{opacity:0;transition:0.2s;position:absolute;margin:0;padding:0.6rem 0.8rem;z-index:888;border-radius:10px;background-color:#df8888;color: #F8E6E6;font-size:1.2rem;}
.mb-mblist:hover .listBtnO{opacity:1;}
.mb-mblist:hover .listBtnO:hover{opacity:.9;background:#fff;color:#C51D1D;}
.mb-mblist:hover .listYl + a img {transform: scale(1.1);overflow:hidden;filter:brightness(35%);}
.mb-mblist:hover .listYl + a p{background-color:#EFB7B7;}
.listXQ{bottom:45%;left:15%;}
.listYl{bottom:45%;left:55%;}
.listXZ{bottom:45%;left:70%;}
.mb-mblist span{transition:0.2s;position:absolute;top:10px;right:10%;background-color:#df8888;color: #F8E6E6;font-size:1rem;border-radius: 0 0 10px 10px;padding:0 0.8rem;z-index:888;font-weight:700; line-height:1.8rem;}

.mb-mblist a:hover.freefonts{background:#fff;color:#C51D1D;}
.mb-mblist-overlay {margin-left: auto;margin-right: auto;overflow:hidden;}
.mb-fontslist-overlay {max-width:590px;margin-left: auto;margin-right: auto;}
.mb-fontslist-overlay img{padding:10px;filter:brightness(100%);}
.mb-mblist a:hover .mb-fontslist-overlay img{filter:brightness(100%);}
.mb-figcaption{background-color:#F2D4D4; height:40px; line-height:40px;z-index:2;}

.mb-navPicLi{position:relative; margin-bottom:5px;padding-right:5px;padding-left:5px;}
.mb-navPicLi a{display:inline-block;font-weight:700; text-decoration:none; transition:.3s ease-in-out;box-shadow:0 40px 30px -40px #969696; -webkit-box-shadow: 0px 40px 30px -40px #969696; -moz-box-shadow: 0px 40px 30px -40px #969696; -o-box-shadow: 0px 40px 30px -40px #969696;border-radius: 10px; overflow:hidden; background:#C51D1D;}
.mb-navPicLi img {box-sizing:border-box;transition: 0.3s;position:relative;z-index:1;-webkit-filter:brightness(60%);filter:brightness(60%);}
.mb-navPicLi a:hover img {box-sizing:border-box;transform:scale(1.1);-webkit-filter:brightness(40%);filter:brightness(40%);}
.mb-navPicLi span{position:absolute;top:30%;left:0;width:100%;color:#fff;text-align:center; font-size:1rem;z-index:2;}

.mb-nav{background:#df8888;color:#fff; padding:0;}
.mb-nav>a{color:#fff;}
.mb-link{padding:20px;}
.mb-link a{color:#666;}

.mb-navbar{color:#C51D1D; padding:0;}
.mb-navbar a{color:#C51D1D;}
.mb-navM{line-height:3;color:#666; padding-left:10px;margin-bottom:0;}
.mb-navM a{color:#666; text-decoration:none;}
.mb-navM span.pageno{padding-left:0.5rem;}
.top90{margin-top:90px;background-color:#f5d1d1;}
.top66{margin-top:66px;background-color:#f5d1d1;}
.top104{margin-top:104px;}
.top114{margin-top:114px;}

.mb-description {line-height:2.2em;}
.mb-description img{max-width:100%; height:auto !important; margin:0 auto; display:block;box-shadow: 0 0 10px #888888;border-radius:10px;}
.mb-description a{text-decoration:underline;}
.fonts-desc {line-height:2.2em;}
.fonts-desc img{max-width:100%; height:auto !important; margin:0 auto; display:block;}
.fonts-desc a{text-decoration:underline;}

.modal img{max-width:100%; height:auto; margin:0 auto; display:block;box-shadow: 0 0 10px #888888;border-radius:10px;}
.modal-header{background-color:#df8888; color:#fff;}

.d-grid{padding:20px 30px;}
.navbar-toggler{float:right; padding:.25rem .5rem;border-color:rgba(255,255,255,.3)!important; border-width:3px;}
.navbar-search{float:right; color:rgba(255,255,255,.55); background:transparent; padding:.25rem .5rem;}
.navbar-collapse {position: fixed;top: 90px;right: 0px;background: white;width: 150px;padding: 15px;}

.offcanvas-end{width:50%;}
.offcanvas-body{padding:0;margin-bottom:10px;}
.offcanvas-header{margin-bottom:10px; background-color:#df8888; border:0; color:#fff;}
.card{margin:0 10px;border-color:#f5d1d1;background-color:#F8E6E6;}
.card-header{border-color:#f5d1d1;background-color:#F8E6E6;}

.offcanvas-body{padding:10px;}
.nav-pills{margin:0 10px;}
.nav-pills .nav-link.active, .nav-pills .show > .nav-link{background-color:#df8888; color:#fff; font-weight:700;}
.nav-link{color:#C51D1D;}

.mb-btn-highlight{background-color:#df8888;border-color:#f5d1d1;color:#fff;margin-top:5px;margin-bottom:5px;}
.mb-btn-highlight:hover{color:#fff;font-weight:700;}
.btn-primary:hover, .btn-primary:focus{background-color:#C51D1D; color:#fff;}
.btn-outline-secondary{color:#C51D1D;border-color:#EFB7B7;margin-top:5px;margin-bottom:5px; background-color:#F8E6E6;}
.btn-outline-secondary:hover{background-color:#df8888;border-color:#f5d1d1;color:#fff;}
.btn-class{display:inline-block;color:#C51D1D; text-align:inherit; font-size:1.2rem;line-height:2.5rem;}
.d-block{color:#C51D1D; text-align:inherit; font-size:1.2rem;line-height:2.5rem;}
.d-block:hover{color:#C51D1D;}

.copyright{line-height:30px; background:#f5d1d1; padding-top:15px; padding-bottom:15px;color:#666;}
.copyright a{color:#666;}
.page-item.active .page-link{background-color:#C51D1D;border-color:#C51D1D;}

.pagination{margin-top:20px;}
.page-link{color:#C51D1D;border-color:#f5d1d1;}
.page-link:hover{color:#C51D1D;border-color:#f5d1d1;background-color:#F8E6E6;}
.page-item.disabled .page-link{border-color:#f5d1d1;}
.page{height:20px; line-height:20px; padding:15px 0; text-align:center;vertical-align:middle; font-family:"宋体";  margin-bottom:20px;}
.page span{height:20px; padding:3px 0px; height:14px; line-height:14px;color:#C14848;display:inline-block;}
.page span.pageOn{font-weight:bold; color:#C51D1D;}
.page a{height:20px; padding:3px 6px; height:14px; line-height:14px; border:1px solid #D89F9F; display:inline-block; background-color:#F8E6E6; color:#C14848;}
.page a:visited{ color:#C14848;}
.page a:hover{text-decoration:none; background-color:#993838; border:1px solid #993838; color:#fff;}
.page a:active{ color:#C14848;}
.page input{border:1px solid #D89F9F;width:35px; margin:0 2px; display:inline-block;}

.back-to-top {cursor: pointer;position: fixed;bottom: 20px;right: 20px;display:none;color:#df8888;z-index:999;}

@media (max-width: 768px) {
.min-w390{min-width: 390px;}
.offcanvas-end{width:400px;}
.mb-h1{font-size:1.5rem;}
.main-menu{display:none;}
.menu-list{display:none;}
.none-768{display:none !important;}
.mb-navPicLi span{font-size:1.5rem;}
}
@media (min-width: 768px) {
    /* .navbar-toggler{display:none;} */
}
@media (max-width: 576px) {
.mb-navPicLi span{font-size:1.1rem;}
.mb-mblist span{display:none;}
.mb-mblist .listBtnO{display:none;}
.mb-mblist p{font-size:0.9rem;}
.mb-index-search {margin:30px auto 20px auto;}
.mb-index-search h1{font-size:1.5rem;}
}

.menu-section-wrap { position: relative; display: block; float: left; width: 100%; }
.main-menu {}
.main-menu nav { float: left; }
.main-menu nav > ul { float: left; margin:0; padding:0;}
.main-menu nav > ul > li { display: block; float: left; margin-right: 30px;}
.main-menu nav > ul > li:last-child { margin-right: 0; }
.main-menu nav > ul > li > a { display:inline-block; font-size: 16px; letter-spacing: 0.5px; font-weight: 600; text-transform: uppercase; line-height: 40px; padding: 10px 0; color: rgba(255,255,255,.75); position: relative; }
.main-menu nav > ul > li.active > a, .main-menu nav > ul > li:hover > a { color: rgba(255,255,255); }
.main-menu nav > ul > li.has-dropdown > a::after { font-family: 'Fontawesome'; content: '\f107'; margin-left: 8px; display: block; float: right; }
.main-menu nav > ul > li:hover .sub-menu, .main-menu nav > ul > li:hover .mega-menu { opacity: 1; z-index: 999; visibility: visible; }

.menu-list nav { float: left; }
.menu-list nav > ul { float: left; margin:0; padding:0;}
.menu-list nav > ul > li { display: block; float: left; margin-right: 30px;}
.menu-list nav > ul > li:last-child { margin-right: 0; }
.menu-list nav > ul > li > a { display:inline-block; font-size: 16px; letter-spacing: 0.5px; font-weight: 600; text-transform: uppercase; line-height: 40px; padding: 10px 0; color: rgba(255,255,255,.75); position: relative; }
.menu-list nav > ul > li.active > a, .menu-list nav > ul > li:hover > a { color: rgba(255,255,255); }

.menu-list-1{display: flex;flex-wrap: wrap;}
.menu-list-1 a{margin:3px;}
.menu-list-1 a:last-child{flex-grow:1;}

.mega-menu { padding:20px; background-color: #ffffff; width: 100%; position: absolute; top: 100%; left: 0; visibility: hidden; opacity: 0; -webkit-transition: all 0.2s ease 0s; -o-transition: all 0.2s ease 0s; transition: all 0.2s ease 0s; -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);border-radius: 10px;}

/*slick*/
.slick-prev,.slick-next{background:#df8888;position: absolute;top: 50%;font-size:30px;display: block;line-height:1;width:50px;height:50px;padding: 8px;border-radius:40px;-webkit-transform: translate(0, -50%);-ms-transform: translate(0, -50%);transform: translate(0, -50%);z-index:3;cursor: pointer;color: #fff;border: 1px solid #df8888;outline: none;}
.slick-prev{left: 0;}
.slick-next{right: 0;}
.slick-prev:hover,.slick-next:hover{background:#C51D1D;border: 1px solid #C51D1D;}
.slick-disabled{display:none!important;}

/*read more*/
.readall_box {position: relative;z-index:999;padding: 0 0 25px;margin-top: -150px;text-align: center;}
.readall_box .read_more_mask {height: 150px;background: -moz-linear-gradient(bottom,rgba(255,255,255,1),rgba(255,255,255,0));background: -webkit-gradient(linear,0 top,0 bottom,from(rgba(255,255,255,0)),to(#fff));background: -o-linear-gradient(bottom,rgba(255,255,255,1),rgba(255,255,255,0))}
.read_more_btn{cursor:pointer;font-size:16px;color:#C51D1D;background:#fff;border-radius:8px;border:1px solid #df8888;line-height:30px;padding:5px 10px;}
.read_more_btn:hover{background:#df8888;color:#fff;}